/* Colors */

html {
    background: url(../images/window-bg.png) #eee;
  }

  body {
    background: url(../images/left-body-bg.png) white 20% 0 repeat-y;
    color: black;
  }
  
  #body2 {
    background: url(../images/right-body-bg.png) 75% 0 repeat-y;
  }

  #title {
    background: url(../images/title-bg.png) #45f left top repeat-x;
    color: white;
  }
  
  .box-image, h1{
    background: url(../images/logo.png) left top no-repeat;
  }
  
  #main h2 {
    color: #293499;
  }
  
  #main .picture {
    border-color: #45f;
  }
  
  #sections li a {
    background: #293499;
    color: white;
    border-color: white;
  }
  
  #sections li a:hover {
    background: #d00;
  }

  #selected_menu .active {
    background: #d00;
  }

  #news h2 {
    background: url(../images/news-head-bg.png) #dde6ff left top repeat-x;
  }
  
  #news a {
    color: #d00;
    background: url(../images/red-arrow.png) right center no-repeat;
  }
  
  #meta,
  #meta a {
    background: #45f;
    color: white;
  }
  
  #user {
    color: white;
  }
  
  #user p a {
    color: white;
  }
  
  .homepage_link {
    text-decoration: none;
    color: white;
  
  }  